/* ----------- MOBILE VIEW ------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;

    font-family: 'Fraunces', serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 375px;
    height: auto;

    font-size: 0;
    margin: 0;
    padding: 0;
}

header {
    background: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    max-height: 400px;
    background-position: bottom;
    max-width: 375px;
}

.nav-link {
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: white;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 5px;

    padding-top: 45%;
}

.header-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21%;
}

img {
    max-width: 375px;
}

.desktop-image {
    display: none;
}

.text-content {
    text-align: center;
    background-color: #fffbf8;
    font-size: 18px;
    padding: 20% 10%;
}

.text-content h2 {
    color: hsl(212, 27%, 19%);
    font-size: 32px;
    font-weight: 700;
}

.text-content p {
    color: hsl(232, 10%, 55%);
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 10% 0%;
}

.text-content a {
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    text-decoration-color: hsla(51, 100%, 49%, 0.3);
    text-decoration-thickness: 0.5rem;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.item2 a {
    text-decoration-color: hsla(7, 99%, 70%, 0.3);
}

.image-with-text {
    position: relative;
    text-align: center;
}

.image-with-text h2 {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 65%;

    color: hsl(167, 40%, 24%);
    font-size: 30px;
}

.image-with-text p {
    position: absolute;
    text-align: center;
    top: 75%;
    margin-bottom: 0;
    padding: 0 5%;

    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.item4 h2 {
    color: hsl(198, 62%, 26%);
}

.item4 p {
    color: hsl(198, 62%, 26%);
}


.testimonial-section {
    font-size: 18px;
    text-align: center;
    background-color: #fffbf8;
    padding: 15% 10% 10% 10%;
}

.testimonial-section h2 {
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 5px;
    padding-bottom: 20%;
}

.testimonial img {
    border-radius: 50%;
    width: 75px;
}

.review {
    padding: 10% 0 10% 0;
    font-family: "Barlow", sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
}

.reviewer {
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}

.reviewer-industry {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: hsl(210, 4%, 67%);
    padding: 5% 0 20% 0;
}

.image-gallery img {
    width: 50%;
}

footer {
    font-size: 18px;
    text-align: center;
    background-color: #90d4c5;
    padding: 15% 0 5% 0;
}

footer h2 {
    text-transform: lowercase;
    color: hsl(168, 34%, 41%);
    font-weight: 800;
    font-size: 40px;

    padding-bottom: 10%;
}

.links a {
    font-family: "Barlow", sans-serif;
    padding: 0 5% 0% 5%;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.social-media-links img {
    margin: 10% 3%;
}

/* --------- ACTIVATION COMPONENTS --------- */
.item1 a:hover {
    text-decoration-color: hsl(51, 100%, 49%);
}

.item2 a:hover {
    text-decoration-color: hsl(7, 99%, 70%);
}

.links a:hover {
    color: white;
}

.social-media-links a:hover {
    filter: brightness(0) invert(1);
}

/* --------- DESKTOP VIEW --------- */
@media (min-width: 900px) {

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }

    .container {
        max-width: 1440px;
    }

    header {
        background: url(images/desktop/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 80vh;
        max-height: 400px;
        background-position: bottom;
        max-width: 1440px;
    }
}